#nav-primary{
  padding-block: 20px;
  div{
    display: flex;
    align-items: center;
  }
  div:nth-child(2){
    margin-inline: auto;
  }
  div:nth-child(3){
    justify-self: end;
  }
}

#nav-secondary{
  padding-block: 14px;
  justify-content: space-between;
  border-block: 1px solid var(--stroke-color) ;
  margin-bottom: 40px;
  
  div{
    span{
      background-image: url(../assent/icons/Vector.svg);
      width: 16px;
      height: 16px;
    }
    &:hover span{
      background-image: url(..//assent/icons/ArrowRighthover.svg);
      width: 16px;
      height: 16px;
    }
  }
}
