header{
  margin: 0 auto;
}
header #navbar{
  display: flex;
  flex-direction: row;
  width: 1280px;
  margin: 0 auto;
  /* align-items: center;
  justify-content: center; */
}
#Navbar-primary{
  display: flex;
  justify-content: space-between;
  padding: 20px 32px;
}

#Navbar-primary div{
  display: flex;
  align-items: center;
  gap: 8px;
}

#Navbar-primary div a{
  text-decoration: none;
  color: var(--text-color-primary);
  font: var(--heading2);
}
#Navbar-primary div h1{
  color: var(--brand-color-light);
  font: var(--heading1);
}

#navbar-segundary div{
  display: flex;
  justify-content: space-between;
}
#navbar-segunary{
    color: var(--brand-color-light);
    font: var(--heading1);
}
