main{
  width: 1216px;
  margin: 40px auto;
}
.container {
  display: grid;
  height: 416px;
  grid-template-columns: 608px 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}
.container div:nth-child(1){
  grid-row: 1/3;
}
.img1{
  width: 608px;
  height: 416px;
}
.img2{
  width: 288px;
  height: 200px;
}

