#section2{
  margin-block: 80px;
}

.container-1-5{
  display: flex;
  justify-content: space-between;
}

.container2{
  display: flex;
  gap: 16px;
}
.container2 div{
  height: 234px;
  width: 292px;
}
.container2 img{
  height: 160px;
  width: 292px;
}